/* .show{
    opacity: 1;
    transition: all 1s ease-in;
}


.hide{
    opacity: 0;
    transition: hide-item 2s ease-in;
} */

/* .show{
    animation: show-item 2s ease-in  forwards;
}
.hide{
    animation: hide-item 2s ease-in  forwards;
 }


@keyframes hide-item{
    0% {
        opacity: 1;
        color: red;
    }
    50% {
        opacity: 0.5;
        color: green
    }
    100% {
        opacity: 0;
        color: blue 
    }
}

@keyframes show-item{
    0% {
        opacity: 0;
        color: red;
    }
    50% {
        opacity: 0.5;
        color: green
    }
    100% {
        opacity: 1;
        color: blue 
    }
} */


.fade-enter{
    /* 入场动画还未执行 */
    opacity: 0;
} 

.fade-enter-active{
    /* 入场动画执行完之前 */
    opacity: 1;
    transition: opacity 1s ease-in;
} 

.fade-enter-done{
    opacity: 1;
} 

.fade-exit{
    opacity: 1;
 } 

 .fade-exit-active{

    opacity: 0;
    transition: opacity 1s ease-in;
 } 

 .fade-exit-done{
     opacity: 0;
 } 




 .my-node-enter {
    opacity: 0;
  }
  .my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
    color: red;
  }
  .my-node-exit {
    opacity: 1;
  }
  .my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }


